<h2 mat-dialog-title>{{ data.operationType | titlecase }} Person</h2>

<mat-dialog-content class="mat-typography">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <form [formGroup]="personForm">
        <div class="flex-direction-column">
            <mat-form-field appearance="outline" *ngIf="!isCreate">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="M/D/YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button (click)="onSubmit()" [disabled]="!personForm.valid || !personForm.dirty || showSpinner">{{
        data.operationType |
        uppercase }}</button>
</mat-dialog-actions>